### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
#Total number of unique players
totPlayers= purchase_data['SN'].nunique()
data={'Total Players': [totPlayers]}
df=pd.DataFrame(data)
df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
uniqueItem=len(purchase_data['Item ID'].unique())
avgPrice="$"+str(round(purchase_data['Price'].mean(), 2))
totPurchases=len(purchase_data['Purchase ID'])
totRevenue ="$"+str(purchase_data['Price'].sum())

data={'Number of Unique Items': [uniqueItem], 'Average Price': [avgPrice], 'Number of Purchases': [totPurchases], 'Total Revenue': [totRevenue]}
df=pd.DataFrame(data)
df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:


countGender=purchase_data.groupby('Gender')['SN'].nunique()
totCount= purchase_data['SN'].nunique()
percentGender=purchase_data.groupby('Gender')['SN'].nunique()/ totCount
data={'Total Count': countGender, 'Percentage of Players': percentGender}
df=pd.DataFrame(data)
df
df.style.format({'Percentage of Players':"{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#come back to this
countGender=purchase_data['Gender'].value_counts()
avgPurchase= purchase_data.groupby('Gender')['Price'].mean()
totPurchase= purchase_data.groupby('Gender')['Price'].sum()
totSum= purchase_data.groupby(['Gender','SN'])['Price'].sum()
avgTotal= totSum.groupby('Gender').mean()
pd.options.display.float_format = '${:,.2f}'.format

df=pd.DataFrame({'Purchase Count': countGender, 'Average Purchase Price': avgPurchase, 'Total Purchase Value': totPurchase, 'Average Total Per Person': avgTotal})
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins= [0,9,14,19,24,29,34,39,np.inf]
labels= ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40']
purchase_data.sort_values('SN', inplace=True)


purchase_data['Age Range']= pd.cut(x=purchase_data['Age'], bins=bins, labels=labels)

countBin=purchase_data.groupby('Age Range')['SN'].nunique()
totCount= purchase_data['SN'].nunique()
percentBin=purchase_data.groupby('Age Range')['SN'].nunique()/ totCount
data={'Total Count': countBin, 'Percentage of Players': percentBin}
df=pd.DataFrame(data)
df
df.style.format({'Percentage of Players':"{:.2%}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
totPlayers=purchase_data['Age Range'].value_counts()
avgPurchase= purchase_data.groupby('Age Range')['Price'].mean()
totPurchase= purchase_data.groupby('Age Range')['Price'].sum()
totSum= purchase_data.groupby(['Age Range','SN'])['Price'].sum()
avgTotal= totSum.groupby('Age Range').mean()

df=pd.DataFrame({'Purchase Count': totPlayers, 'Average Purchase Price': avgPurchase, 'Total Purchase Value': totPurchase, 'Avg Total Purchase per Person': avgTotal})
df['Average Purchase Price'] = df['Average Purchase Price'].map('${:,.2f}'.format)
df['Total Purchase Value'] = df['Total Purchase Value'].map('${:,.2f}'.format)

df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
totPurchase= purchase_data.groupby('SN')['Price'].sum()
numPurchase= purchase_data['SN'].value_counts()
avgPurchase= purchase_data.groupby('SN')['Price'].mean()
pd.options.display.float_format = '${:,.2f}'.format
df=pd.DataFrame({'Purchase Count': numPurchase, 'Average Purchase Price': avgPurchase, 'Total Purchase Value': totPurchase})




df.nlargest(5,'Total Purchase Value')

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.41                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
totPurchase= purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()
numPurchase= purchase_data.groupby('Item ID')['Item Name'].value_counts()
itemPrice= purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
df=pd.DataFrame({'Purchase Count': numPurchase, 'Item Price': itemPrice, 'Total Purchase Value': totPurchase})

df['Item Price'] = df['Item Price'].map('${:,.2f}'.format)
df['Total Purchase Value'] = df['Total Purchase Value'].map('${:,.2f}'.format)

df.nlargest(5,'Purchase Count')

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:

totPurchase= purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()
numPurchase= purchase_data.groupby('Item ID')['Item Name'].value_counts()
itemPrice= purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
pd.options.display.float_format = '${:,.2f}'.format
df=pd.DataFrame({'Purchase Count': numPurchase, 'Item Price': itemPrice, 'Total Purchase Value': totPurchase})


df.nlargest(5,"Total Purchase Value")

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80